.aboutme {
    padding-top: 38vh;
    padding-left: 0rem;
    padding-right: 0rem;
    height: 100vh;
    align-items: center;
    text-align: center;
    &__img {
        position: fixed;
        top:0;
        height: 50vh;
        width: 100%;
        background: linear-gradient(to top,  rgba(0,0,25,0.7) 20%, rgba(0,0,25,0.1)),
        url(../images/foto2.jpg) center top;
        background-size:contain ;
        background-repeat: no-repeat;
        z-index: -1;

    }
    & h2{
        padding-bottom: 0.5rem;
        font-size: 2em;
    }
    &__p {
        padding: 1rem 1.5rem 0rem 1.5rem;
        text-align: justify;
        border-top: 2px solid  $secondary-color;
    }
    & span {
        color: $secondary-color;
    }
}

.hobbies {
    padding:0.8rem 0rem;
    margin: 0.8rem 4rem;
    background: radial-gradient( #222260 20%,#101035 50%,$primary-color );
    border-bottom: 3px solid $third-color;
    & span{
        color: $secondary-color;
    }
    & p{
        text-align: left;
        padding-top: 0.5rem;
    }
    & h4{
        border-bottom: 1px solid $secondary-color;
        padding-bottom: 0.5rem;
    }
}