.contact {
    padding-top: 45vh;
    padding-left: 0rem;
    padding-right: 0rem;
    height: 100vh;
    align-items: center;
    text-align: center;
        
    &__list {
       position: absolute;
       top:0;
        height: 50vh;
        width: 100%;
         text-align: center;
         background: //linear-gradient(to top,  rgba(0,0,25,0) 20%, rgba(0,0,25,0.3)),
         url(../images/foto3.jpg) center top;
         background-size:contain ;
         background-repeat: no-repeat;
         z-index: -1;
        border-bottom:2px solid $secondary-color ;
    }
    & h2{
        width: 100%;
        padding: 0rem;
        font-size: 1.5em;
        text-align: center;
        & span{
            color: $secondary-color;
        }
    }
    &__items {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        font-size: 1.3em;
        padding: 2rem 1.5rem 0.5rem 1.5rem;
        & i{
            color: $secondary-color;
        }
        &__text {
            transform: translateX(-120%);
            @include transitionA;
            & a{
                color: $secondary-color;
                @include transitionA;
                &:hover {
                   font-size: 1.05em;
                    color: lighten($color: $secondary-color, $amount: 10%);
                }
            }
            & span {
                color: $secondary-color;
            }
        }
        &:hover{
            .contact__items__text{
                @include transitionA;
                transform: translateX(0);
            }
        }
        &__item{
            background: radial-gradient(circle, #454545 20%,#323232 50%,$primary-color );   
            padding: 0rem;
            width: 90%;
        }
    }
}