.home {
    padding-top: 50vh;
    height: 100vh;
    align-items: center;
    text-align: center;
    background: 
    //radial-gradient(circle,  rgba(0,0,25,0.2) 40%, rgba(0,0,25,0.5)),
    url(../images/foto1.jpg) center top;
    background-size:contain ;
    background-repeat: no-repeat;
    h2 {
        padding: 1.5rem 0 ;
    }
    &__name {
        padding-bottom:1rem ;
        font-size:4em;
        border-bottom: 2px solid  $secondary-color;
        & span {
            color:$secondary-color;
        }
    }
}