$primary-color:#000025;
$secondary-color:  rgb(150,150,70);
$third-color: rgb(120,120,40);
/*como variables es lo primero que importamos... inicializamos todos los selectores */
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

/*Creando funciones*/
@mixin transitionA {
    transition: all 0.5s ease-in-out;
}


@function textColor($color) {
    @if(lightness($color)>40%) {
        @return #000;
    } @else {
        @return #FFF;
    }
}