$primary-color: #000025;
$secondary-color:  rgb(150,150,70);
$third-color: rgb(120,120,40);
/*como variables es lo primero que importamos... inicializamos todos los selectores */
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

/*Creando funciones*/
@mixin transitionA {
    transition: all 0.5s ease-in-out;
}

@mixin transitionB {
    transition: all 0.9s ease-in-out;
}
@function textColor($color) {
    @if(lightness($color)>40%) {
        @return darken($color, 50%);
    } @else {
        @return lighten($color, 50%);
    }
}


@mixin media-m {
    @media screen and (min-width:768px) {
     @content;   
    }
}

@mixin media-l {
    @media screen and (min-width:1300px) {
     @content;   
    }
}