@charset "UTF-8";
/*como variables es lo primero que importamos... inicializamos todos los selectores */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Creando funciones*/
.home {
  padding-top: 50vh;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: url(../images/foto1.jpg) center top;
  background-size: contain;
  background-repeat: no-repeat;
}

.home h2 {
  padding: 1.5rem 0;
}

.home__name {
  padding-bottom: 1rem;
  font-size: 4em;
  border-bottom: 2px solid #197819;
}

.home__name span {
  color: #197819;
}

.aboutme {
  padding-top: 38vh;
  padding-left: 0rem;
  padding-right: 0rem;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.aboutme__img {
  position: fixed;
  top: 0;
  height: 50vh;
  width: 100%;
  background: url(../images/foto2.jpg) center top;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}

.aboutme h2 {
  padding-bottom: 0.5rem;
  font-size: 2em;
}

.aboutme__p {
  padding: 1rem 1.5rem 0rem 1.5rem;
  text-align: justify;
  border-top: 2px solid #197819;
}

.aboutme span {
  color: #197819;
}

.hobbies {
  padding: 0.8rem 0rem;
  margin: 0.8rem 4rem;
  background: radial-gradient(#454545 20%, #323232 50%, #202020);
  border-bottom: 3px solid #198c19;
}

.hobbies span {
  color: #197819;
}

.hobbies p {
  text-align: left;
  padding-top: 0.5rem;
}

.hobbies h4 {
  border-bottom: 1px solid #197819;
  padding-bottom: 0.5rem;
}

.projects {
  padding-top: 40vh;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.projects__img {
  position: fixed;
  top: 0;
  left: 0;
  height: 40vh;
  width: 100%;
  background: url(../images/logoOliva.png) center center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
  text-align: center;
  border-bottom: 2px solid #197819;
}

.projects__img h2 {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 0.5rem;
  text-align: center;
  font-size: 2em;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.projects__img h2 span {
  color: #197819;
}

.projects__items {
  padding-top: 2rem;
}

.projects__items__i {
  position: relative;
  overflow: hidden;
  justify-self: center;
  padding: 0.8rem 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 9rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: radial-gradient(#454545 20%, #323232 50%, #202020);
  border-bottom: 3px solid #198c19;
  margin: 0 4rem;
}

.projects__items__i span {
  color: #197819;
  font-weight: 700;
}

.projects__items__i p {
  float: left;
  text-align: left;
  font-size: 0.9em;
  width: 70%;
}

.projects__items__i h4 {
  border-bottom: 1px solid #197819;
  padding-bottom: 0.5rem;
}

.projects__items__i img {
  width: 105px;
  height: 70px;
  margin: 1rem;
}

.projects__items__i__btn {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  z-index: 1;
  -webkit-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
}

.projects__items__i__btn a {
  cursor: pointer;
  color: transparent;
  padding: 4rem 0;
  -webkit-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
}

.projects__items__i__btn:hover a {
  color: #202020;
}

.projects__items__i::after {
  position: absolute;
  top: 100%;
  left: 0;
  content: "";
  background: rgba(25, 140, 25, 0.9);
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.projects__items__i:hover::after {
  top: 0;
}

.contact {
  padding-top: 45vh;
  padding-left: 0rem;
  padding-right: 0rem;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.contact__list {
  position: absolute;
  top: 0;
  height: 50vh;
  width: 100%;
  text-align: center;
  background: url(../images/foto3.jpg) center top;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
  border-bottom: 2px solid #197819;
}

.contact h2 {
  width: 100%;
  padding: 0rem;
  font-size: 1.5em;
  text-align: center;
}

.contact h2 span {
  color: #197819;
}

.contact__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 2rem;
  font-size: 1.3em;
  padding: 2rem 1.5rem 0.5rem 1.5rem;
}

.contact__items i {
  color: #197819;
}

.contact__items__text {
  -webkit-transform: translateX(-120%);
          transform: translateX(-120%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.contact__items__text a {
  color: #197819;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.contact__items__text a:hover {
  font-size: 1.05em;
  color: #22a222;
}

.contact__items__text span {
  color: #197819;
}

.contact__items:hover .contact__items__text {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.contact__items__item {
  background: radial-gradient(circle, #454545 20%, #323232 50%, #202020);
  padding: 0rem;
  width: 90%;
}

/*
Configuramos algunos Selectores básico que afectarán a TODA la APP.
*/
body {
  background: #202020;
  height: 100vh;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
}

h1, h2, h3 {
  font-weight: 500;
}

a {
  color: white;
  text-decoration: none;
}

/*
Ya aqui estamos estilizando SOLO lo que hay en comun en TODA la APP.JS. 
*/
header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;
}

.social-icons {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}

.social-icons a {
  padding: 0.5rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.social-icons a:hover {
  color: #197819;
}

.social-icons a:hover i {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  bottom: 1rem;
  left: 1rem;
  position: fixed;
}

#b a {
  padding: 0.5rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#b a:hover {
  color: #197819;
}

#b a:hover i {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.a {
  font-size: 1rem;
  position: fixed;
  bottom: 0.4rem;
  right: 1rem;
  padding: 1rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.a span {
  color: #197819;
}

.b {
  font-size: 1rem;
  position: fixed;
  bottom: 0.4rem;
  right: 1rem;
  padding: 1rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: rotate(90deg) translate(-3.5rem, -4rem);
          transform: rotate(90deg) translate(-3.5rem, -4rem);
}

.b span {
  color: #197819;
}

.menu-btn {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 20px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background-color: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
  content: '';
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background-color: #197819;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::after {
  content: '';
  position: absolute;
  top: 8px;
  width: 20px;
  height: 3px;
  background-color: #197819;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger.open {
  -webkit-transform: rotate(765deg);
          transform: rotate(765deg);
}

.menu-btn__burger.open::before {
  -webkit-transform: rotate(90deg) translate(8px, 0);
          transform: rotate(90deg) translate(8px, 0);
}

.menu-btn__burger.open::after {
  background-color: transparent;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: rgba(32, 32, 32, 0.8);
  visibility: hidden;
}

.nav.open {
  visibility: visible;
}

.menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  list-style: none;
  overflow: hidden;
  padding-right: 1rem;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-nav.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-nav__item {
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  padding: 4rem 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-nav__item.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-nav__item.active > a {
  color: #197819;
}

.menu-nav__item__link {
  font-size: 2em;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-nav__item__link:hover {
  color: #198c19;
  font-size: 2.1em;
}

.logohome {
  -ms-grid-column-align: center;
      justify-self: center;
  background-image: url(../images/logoOliva.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 8vh;
  position: absolute;
  top: 1vh;
}

.logocontenedor {
  position: relative;
  height: 10vh;
}

.menu-nav__item:nth-child(1) {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

.menu-nav__item:nth-child(2) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.menu-nav__item:nth-child(3) {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}

.menu-nav__item:nth-child(4) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

/*Y aunque este main esté aquí... practicamente no lo hemos tocado, nos interesa el display sea similar en todos los componentes
Luego podemos estilizar cada página separada en las classnames del selector <section> en otros archivos _home.sass o así
*/
main {
  height: 100%;
  width: 100%;
}

/*Recordemos que el header al estar en position fixed, permite que el main empiece desde arriba.
Luego, el select lleva un padding y una imagen que va a ocupar TODA la pantalla en un SAP
*/
@media screen and (min-width: 768px) {
  .menu-btn {
    visibility: hidden;
  }
  .nav {
    visibility: visible;
    width: 100vw;
    background-color: rgba(32, 32, 32, 0.6);
  }
  .nav .menu-nav {
    display: block;
    text-align: center;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    height: 100%;
  }
  .nav .menu-nav__item {
    display: inline;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    padding: 0 2rem;
  }
  .nav .menu-nav__item.active > a {
    color: #197819;
  }
  .nav .menu-nav__item__link {
    font-size: 1.5em;
  }
  .logohome {
    height: 13vh;
  }
  .logocontenedor {
    height: 15vh;
  }
  .projects__items {
    padding-top: 0;
  }
  .projects__items__i p {
    padding-top: 3rem;
  }
  .home h2 {
    padding: 4rem 0 2rem 0;
  }
  .hobbies {
    margin: 0.8rem 4rem;
  }
}

@media screen and (min-width: 1300px) {
  .home h2 {
    padding: 6rem 0 2rem 0;
  }
  .nav .menu-nav__item__link {
    font-size: 2em;
  }
  .projects {
    padding-top: 45vh;
  }
  .projects__img {
    height: 45vh;
  }
  .projects__img h2 {
    font-size: 3em;
  }
  .projects__items__i p {
    font-size: 1.5em;
  }
  .aboutme h2 {
    font-size: 2.5em;
  }
  .aboutme__p {
    font-size: 1.2em;
  }
  .hobbies h4 {
    font-size: 1.4em;
  }
  .hobbies p {
    font-size: 1.1em;
  }
  .contact h2 {
    font-size: 2.5em;
  }
  .contact__items__item {
    font-size: 1.2em;
  }
  .contact__items__text {
    font-size: 1.2em;
  }
}
/*# sourceMappingURL=index.css.map */